*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #e2592f, #dd1964, #0faee7, #16d861);
  text-align: center;
  background-size: 400% 400%;
  color: #fff;
  animation: backgroundGradient 10s ease infinite;
}

@keyframes backgroundGradient {
  0%{
    background-position: 0% 0%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 0%;
  }
  
}
.title{
  margin: 20px 0 20px 0;
  font-size: 4.4rem;
  animation: titleShadow 3s ease infinite;
}

@keyframes titleShadow {
  0%{
    text-shadow: 1px 1px #000000;
  }
  50%{
    text-shadow: 4px 4px #000000;
  }
  100%{
    text-shadow: 1px 1px #000000;
  }
  
}
.option{
  display: flex;
  justify-content: center;
}

.option1{
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 30px;
}
.grid-button{
  display: flex;
}
.color-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.rectangle{
  margin: 10px;
  padding: 13px;
  width: 80px;
  background-color: white;
  color: #000000;
  text-shadow: 0 0 10px #fff;
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 0 0 15px #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: all .3s ease-in;

}
.rectangle:hover{
  background-color: orange;
  color: #fff;
}

.circle{
  margin: 5px 10px;
  padding: 27px 0;
  gap: 20px;
  width: 80px;
  background-color: white;
  font-size: 20px;
  color: #000000;
  text-shadow: 0 0 10px #fff;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0 0 15px #fff;
  cursor: pointer;

  transition: all .3s ease-in;
  
}

.circle:hover{
  background-color: red;
  color: #fff;
}

#circle{
  margin-left:150px;
  margin-right: 150px;
}

.btn{
  padding: 35px 0px;
  width: 130px;
  font-size: 25px;
  border-radius: 50%;
}

.btn:hover{
  background-color: greenyellow;
  color: #000000;
}
.active{
  box-shadow: 2px 5px 30px #0b0130;
}
.container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.grid-container{
  display:flex;
  border: 5px solid  #000000;
  border-radius: 3px;
  flex-wrap: wrap;
  width: 500px;
  box-shadow: 0 0 30px #fff;

}

.grid-container>div{
  background-color: #fff;
}

.grid-10x10{
  grid-template-columns: repeat(10,auto); 
}
.grid-10x10>div{
  border: 1px solid #b4aacd;
  height: 49px;
  width: 49px;
}
.grid-20x20{
  grid-template-columns: repeat(20,auto);
}
.grid-20x20>div{
  border: 1px solid #b4aacd;
  height: 24.5px;
  width: 24.5px;
}
.grid-30x30{
  grid-template-columns: repeat(30,auto);
}
.grid-30x30>div{
  border: 1px solid #b4aacd;
  width: 16.3px;
  height: 16.3px;
}
/* #gridDiv{
  border: 1px solid #392270;
  height: 48px;
  width: 49px;
} */

.copyright{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;

}