*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}

body{
  background-color:#5A236C; 
  background-image: linear-gradient(to bottom right, #392270, #E9275B);
  text-align: center;
  color: #fff;
}
.title{
  margin: 30px 0 20px 0;
  font-size: 5rem;
  text-shadow: 0 0 13px #fff;
}

.option{
  display: flex;
  justify-content: center;
}

.color-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rectangle{
  margin: 10px;
  padding: 13px;
  width: 80px;
  background-color: transparent;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px #fff;
  cursor: pointer;
  /* outline: 0 !important; */
  transition: all .3s ease-in;

}

.circle{
  margin: 45px 15px;
  padding: 27px 0;
  width: 80px;
  background-color: transparent;
  font-size: 22px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff;
  cursor: pointer;
  transition: all .3s ease-in;
  
}

#circle{
  margin-left:150px;
  margin-right: 150px;
}

.btn{
  padding: 35px 0px;
  width: 130px;
  font-size: 25px;
  border-radius: 50%;
}
.active{
  box-shadow: 0 0 30px #F44D9B;
}
.container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.grid-container{
  display:flex;
  border: 5px solid  #5A236C;
  border-radius: 3px;
  flex-wrap: wrap;
  width: 565px;
  box-shadow: 0 0 30px #392270;
  /* height: 500px; */
  /* box-shadow: 0 0 30px #392270; */
}

.grid-container>div{
  background-color: #fff;
}

.grid-10x10{
  grid-template-columns: repeat(10,auto); 
}
.grid-10x10>div{
  border: 1px solid #ffa8d1;
  height: 48px;
  width: 48px;
}
.grid-20x20{
  grid-template-columns: repeat(20,auto);
}
.grid-20x20>div{
  border: 1px solid #ffa8d1;
  height: 23px;
  width: 24px;
}
.grid-30x30{
  grid-template-columns: repeat(30,auto);
}
.grid-30x30>div{
  border: 1px solid #ffa8d1;
  width: 14px;
  height: 14px;
}
#gridDiv{
  border: 1px solid #ffa8d1;
  height: 48px;
  width: 49px;
}

.copyright{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;

}